.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  overflow: hidden;
  height: 10vh;
  //background: rgb(243, 243, 243);
  .header__icon {
    object-fit: contain;
    height: 100px;
  }
  .header__center {
    display: flex;
    align-items: center;
    max-width: fit-content;
    height: 50px;
    padding: 0 10px;
    // background: blue;
    border-radius: 999px;
    border: 1px solid rgba(165, 165, 165, 0.664);
    input {
      outline: none;
      padding: 5px 0;
      border: none;
      width: 400px;
      background: transparent;
      font-size: 15px;
    }
    .header__icon {
      cursor: pointer;
    }
  }

  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__icon,
    p {
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
